<nav class="w3-topnav w3-small w3-center">
  <a href="/" class="w3-bar-item w3-button w3-padding-small w3-hover-black">
    <p>HOME</p>
  </a>
  <a href="contact.html" class="w3-bar-item w3-button w3-padding-small w3-hover-black">
    <p>ABOUT</p>
  </a>

</nav>

<div class="w3-padding-small">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-small w3-center w3-black">
    <h1 class="w3-jumbo"><i class="fa fa-bicycle"></i></h1>
      <p><a href="https://bikedeed.io/">BikeDeed</a></p>
        <br>
        <div class="w3-content w3-text-grey w3-padding-small">
          <p>You are running in limited mode.  Please install <a href="https://metamask.io">Metamask</a> to get full functionality</p>
        </div>
  </header>
<br>
<br>

</div>
